@inherits BaseEditContextSection

@if (Section != null && Section.Elements != null && Section.Elements.Any() && EditContext != null && Section.IsVisible(EditContext.Entity, EditContext.EntityState))
{
    <div class="content">
        @if (!string.IsNullOrWhiteSpace(Section.Label))
        {
            <h2 class="block-header">@Section.Label</h2>
        }

        @if (Section.Buttons != null && Section.Buttons.Any())
        {
            <div class="nested-buttons">
                <ButtonBar Buttons="Section.Buttons" OnButtonClick="@OnButtonClick" />
            </div>
        }

        @foreach (var element in Section.Elements)
        {
            if (!element.IsVisible(EditContext.Entity, EditContext.EntityState))
            {
                continue;
            }

            if (element is FieldUI field)
            {
                <div class="form-row">
                    <div class="col-2">
                        <label class="col-form-label">@field.Name</label>
                        <small class="form-text text-muted">@field.Description</small>
                    </div>
                    <div class="col-10">
                        @if (field is ExpressionFieldUI expressionField)
                        {
                            <label class="col-form-label">
                                @field.ToRenderFragment(EditContext)
                            </label>
                        }
                        else if (field is PropertyFieldUI propertyField)
                        {
                            @field.ToRenderFragment(EditContext)
                        }
                    </div>
                </div>
            }
            else if (element is SubCollectionUI subCollection)
            {
                var parentPath = ParentPath.AddLevel(EditContext.Parent?.GetParentPath(), EditContext.CollectionAlias, EditContext.Entity.Id);

                <div class="nested-content">
                    <RapidCMS.UI.Components.Pages.Collection Action=@(EditContext.UsageType.HasFlag(UsageType.View) ? Constants.List : Constants.Edit)
                                                             CollectionAlias=@subCollection.CollectionAlias
                                                             Path=@parentPath.ToPathString() />
                </div>
            }
            else if (element is RelatedCollectionUI relatedCollection)
            {
                if (!EditContext.UsageType.HasFlag(UsageType.New))
                {
                    <div class="nested-content">
                        <RapidCMS.UI.Components.Pages.RelationCollection Action=@(EditContext.UsageType.HasFlag(UsageType.View) ? Constants.List : Constants.Edit)
                                                                         CollectionAlias=@relatedCollection.CollectionAlias
                                                                         RelatedEntity=@EditContext.Entity />
                    </div>
                }
            }
        }
    </div>
}

@code {
    [Parameter] public EventHandler<ButtonClickEventArgs> OnButtonClick { get; set; }
}