@inherits BasePage

@page "/node/{Action}/{CollectionAlias}/entity/{VariantAlias}"
@page "/node/{Action}/{CollectionAlias}/entity/{VariantAlias}/{Id}"
@page "/node/{Action}/{ParentId}/{CollectionAlias}/entity/{VariantAlias}"
@page "/node/{Action}/{ParentId}/{CollectionAlias}/entity/{VariantAlias}/{Id}"

@using RapidCMS.Common
@using RapidCMS.UI.Components.Buttons
@using RapidCMS.Common.Models.UI
@using RapidCMS.Common.Services

@inject ICollectionService CollectionService
@*
    TODO: remove weird callback for binding
*@

@if (Editor == null)
{
    <div class="content px-4">
        <div class="top-row px-4">

        </div>
        <div class="content px-4">
            <p>Loading..</p>
        </div>
    </div>
}
else
{
    <div class="top-row px-4">
        @{
            @foreach (var button in Editor.Buttons)
            {
                var context = new ButtonContext<BasePage>
                {
                    ButtonId = button.ButtonId,
                    CallbackAsync = ButtonCallbackAsync,
                    Context = this,
                    Icon = button.Icon,
                    Label = button.Label,
                    ShouldConfirm = button.ShouldConfirm
                };

                <CascadingValue Value="context">
                    @if (!string.IsNullOrEmpty(button.Alias))
                    {
                        @CustomButtons[button.Alias]
                    }
                    else
                    {
                        <DefaultButton TContext="BasePage" />
                    }
                </CascadingValue>
            }
        }
    </div>

    @foreach (var pane in Editor.Sections)
    {
        <div class="content px-4">
            @if (pane.Elements.Any())
            {
                @foreach (var element in pane.Elements)
                {
                    if (element is FieldWithLabelUI field)
                    {
                        <div class="form-row">
                            <div class="col-2">
                                <label>@field.Name</label>
                                <small class="form-text text-muted">@field.Description</small>
                            </div>
                            <div class="col-10">
                                @if (Action == Constants.View)
                                {
                                    @field.ReadonlyValue
                                }
                                else
                                {
                                    // TODO: context object instead of everything a seperate parameter?

                                    <DefaultEditor Field="field" Callback="@((string value) => field.Value = value)" />
                                }
                            </div>
                        </div>
                    }
                    else if (element is SubCollectionUI subCollection)
                    {
                        <Collection Action="@Constants.Edit"
                                    CollectionAlias="@subCollection.CollectionAlias"
                                    ParentId="@Id" />
                    }
                }
            }
        </div>
    }
}

@functions {
#nullable enable

    [Parameter]
    private string Action { get; set; }

    [Parameter]
    private string? ParentId { get; set; } = null;

    [Parameter]
    private string CollectionAlias { get; set; }

    [Parameter]
    private string VariantAlias { get; set; }

    [Parameter]
    private string? Id { get; set; } = null;

    EditorUI Editor;

    protected override async Task OnParametersSetAsync()
    {
        await LoadDataAsync();
    }

    protected override async Task LoadDataAsync()
    {
        Editor = await CollectionService.GetNodeEditorAsync(Action, CollectionAlias, VariantAlias, ParentId, Id);
    }

    async Task ButtonCallbackAsync(string actionId, BasePage view)
    {
        var command = await CollectionService.ProcessNodeEditorActionAsync(CollectionAlias, VariantAlias, ParentId, Id, Editor, actionId);

        await HandleViewCommandAsync(command);
    }
}
