@using RapidCMS.Common.Models.DTOs

@if (Collection == null)
{
    <li>Loading tree..</li>
}
else
{
    <li class="nav-item px-3">
        @if (Collection.Path.Count == 1)
        {
            var path = Collection.Path.First().Path;
            var icon = Collection.Path.First().Icon;

            <NavLink href=@path class=@(path == CurrentUrl ? "current-page" : "")><i class="oi oi-@icon"></i> @Collection.Name</NavLink>
        }
        else
        {
            @Collection.Name

            @foreach (var path in Collection.Path)
            {
                <NavLink href=@path.Path class=@(path.Path == CurrentUrl ? "current-page" : "")><i class="oi oi-@path.Icon"></i></NavLink>
            }
        }

        @if (Collection.Nodes != null)
        {
            <ul class="nav flex-column">
                @foreach (var node in Collection.Nodes)
                {
                    <li class="nav-item px-3">
                        <NavLink href=@node.Path class=@(node.Path == $"/{CurrentUrl}" ? "current-page" : "")>@node.Name</NavLink>

                        <ul class="nav flex-column">
                            @foreach (var subCollection in node.Collections)
                            {
                                <CollectionTreeView Collection="@subCollection" ParentId="@node.Id" CurrentUrl="@CurrentUrl" />
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </li>
}
@functions {
#nullable enable

    [Parameter]
    private CollectionTreeCollectionDTO Collection { get; set; }

    [Parameter]
    private string? ParentId { get; set; } = null;

    [Parameter]
    private string CurrentUrl { get; set; }
}
