@inject ITreeService TreeService

@if (UI == null)
{
    <li>Loading tree..</li>
}
else if (!string.IsNullOrWhiteSpace(Error))
{
    <li>@Error</li>
}
else
{
    <li class="nav-item">
        <NavigationLink NavigateTo="@UI.NavigateTo"><Icon Name="@UI.Icon" Color="@UI.Color" /> @UI.Name</NavigationLink>
    </li>
}

