@inherits DisposableComponent  

@if (!string.IsNullOrWhiteSpace(Error))
{
    <li>@Error</li>
}
else if (UI == null)
{
    <li>Loading tree..</li>
}
else if (UI.RootVisible)
{
    <li class="nav-item">
        @if (UI.EntitiesVisible)
        {
        <button @onclick="@((MouseEventArgs e) => NodesVisible = !NodesVisible)" class="toggle">
            @if (NodesVisible)
            {
                <Icon Name="ChevronDownMed" />
            }
            else
            {
                <Icon Name="ChevronRightMed" />
            }
        </button>
        }
        else
        {
            <button class="toggle" disabled>
                <Icon />
            </button>
        }

        @if (UI.State != null)
        {
            <NavigationLink NewState="@UI.State"><Icon Name="@UI.Icon" Color="@UI.Color" /> @UI.Name</NavigationLink>
        }
        else
        {
            <a href="/unauthorized" class="disabled"><Icon Name="Lock" /> @UI.Name</a>
        }

        @if (NodesVisible)
        {
            <Nodes CollectionAlias=@CollectionAlias ParentPath=@ParentPath />
        }
    </li>
}
else if (UI != TreeCollectionUI.None)
{
    <Nodes CollectionAlias=@CollectionAlias ParentPath=@ParentPath />
}

