@inherits DisposableComponent

@if (UI != null && CollectionsVisible != null)
{
    <ul class="nav flex-column">
        @if (_pageNr > 1)
        {
            <li class="nav-item">
                <button @onclick="@((MouseEventArgs e) => OnPageChangeAsync(-1))" class="paginate" title="Previous items" disabled="@Loading"><Icon Name="ChevronUpSmall" /></button>
            </li>
        }
        @foreach (var node in UI.Nodes)
        {
            <li class="nav-item">
                @if (node.Collections.Any())
                {
                    <button @onclick="@((MouseEventArgs e) => CollectionsVisible[node.Id] = !CollectionsVisible[node.Id])" class="toggle">
                        @if (CollectionsVisible[node.Id])
                        {
                            <Icon Name="ChevronDown" />
                        }
                        else
                        {
                            <Icon Name="ChevronRight" />
                        }
                    </button>
                }

                @if (node.State != null)
                {
                    <NavigationLink NewState="@node.State">@node.Name</NavigationLink>
                }
                else
                {
                    <a href="/unauthorized" class="disabled">@node.Name</a>
                }

                <ul class="nav flex-column">
                    @if (CollectionsVisible[node.Id])
                    {
                        @foreach (var (subCollection, _) in node.Collections)
                        {
                            <Collections CollectionAlias=@subCollection ParentPath=@(ParentPath.AddLevel(ParentPath, node.RepositoryAlias, node.Id)) />
                        }
                    }
                </ul>
            </li>
        }
        @if (UI.MoreDataAvailable)
        {
            <li class="nav-item">
                <button @onclick="@((MouseEventArgs e) => OnPageChangeAsync(1))" class="paginate" title="Next items" disabled="@Loading"><Icon Name="ChevronDownSmall" /></button>
            </li>
        }
    </ul>
}
else if (!string.IsNullOrWhiteSpace(Error))
{
    <ul class="nav flex-column">
        <li>@Error</li>
    </ul>
}
