@inherits BaseSection

@using RapidCMS.Common.Models.UI
@using RapidCMS.Common
@using RapidCMS.Common.Enums

@if (Section.Elements.Any())
{
    <div class="content">
        @if (!string.IsNullOrWhiteSpace(Section.Label))
        {
            <h2 class="block-header">@Section.Label</h2>
        }

        @foreach (var element in Section.Elements)
        {
            if (element is FieldWithLabelUI field)
            {
                <div class="form-row">
                    <div class="col-2">
                        <label>@field.Name</label>
                        <small class="form-text text-muted">@field.Description</small>
                    </div>
                    <div class="col-10">
                        @if (Subject.UsageType == UsageType.View)
                        {
                            @field.GetReadonlyValue(Subject.Entity)
                        }
                        else
                        {
                            <UIEditor Field="field" Entity="@Subject.Entity" />
                        }
                    </div>
                </div>
            }
            else if (element is SubCollectionUI subCollection)
            {
                <Collection Action="@Constants.Edit"
                            CollectionAlias="@subCollection.CollectionAlias"
                            ParentId="@Subject.Entity.Id" />
            }
        }
    </div>
}
