@inherits BasePage

@if (UI == null)
{
    <div class="content">
        <p>Loading..</p>
    </div>
}
else
{
    <CascadingEditContext EditContext=@UI.RootEditContext>
        @if (UI.Buttons != null)
        {
            <div class="top-row first">
                @foreach (var button in UI.Buttons)
                {
                    var model = button.ToViewModel();

                    // TODO: deattach
                    model.OnClick += ListButtonOnClickAsync;

                    <UIButton Button="button" Model="model" />
                }
            </div>
        }
    </CascadingEditContext>

    @if (UI.EditContexts.Any() && UI.SectionsForEntity != null)
    {
        @if (UI.ListType.In(ListType.TableView, ListType.TableEditor))
        {
            var collapseEmptyCells = UI.EmptyVariantColumnVisibility == EmptyVariantColumnVisibility.Collapse;

            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            @{
                                if (collapseEmptyCells && UI.CommonFields != null)
                                {
                                    foreach (var field in UI.CommonFields)
                                    {
                                        <td>@field.Name<br /><small>@field.Description</small></td>
                                    }

                                    if (UI.MaxUniqueFieldsInSingleEntity - UI.CommonFields.Count > 0)
                                    {
                                        <td colspan=@(UI.MaxUniqueFieldsInSingleEntity - UI.CommonFields.Count)></td>
                                    }
                                }
                                else if (UI.UniqueFields != null)
                                {
                                    foreach (var field in UI.UniqueFields)
                                    {
                                        <td>@field.Name<br /><small>@field.Description</small></td>
                                    }
                                }

                                if (UI.SectionsHaveButtons)
                                {
                                    <td class="button-cell"></td>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var context in UI.EditContexts)
                        {
                            if (UI.SectionsForEntity.TryGetValue(context.Entity.Id, out var sections))
                            {
                                <CascadingEditContext EditContext=@context>
                                    @foreach (var section in sections)
                                    {
                                        var index = 0;

                                        @if (section.Elements != null)
                                        {
                                            <tr>
                                                @{
                                                    foreach (var element in section.Elements)
                                                    {
                                                        if (element is FieldUI field)
                                                        {
                                                            var name = (field as ExpressionFieldUI)?.Expression.PropertyName ?? (field as PropertyFieldUI)?.Property.PropertyName;
                                                            if (name == null)
                                                            {
                                                                continue;
                                                            }

                                                            if (!collapseEmptyCells)
                                                            {
                                                                var position = UI.UniqueFields?.FindIndex(x => x.Name == field.Name) ?? UI.MaxUniqueFieldsInSingleEntity;

                                                                // fill in the gaps (when dealing with multiple entity variants)
                                                                if (position > index)
                                                                {
                                                                    <td colspan=@(position - index)>&nbsp;</td>

                                                                    index = position;
                                                                }
                                                            }

                                                            index++;

                                                            if (field is ExpressionFieldUI expressionField)
                                                            {
                                                                <td>@expressionField.Expression.StringGetter(context.Entity)</td>
                                                            }
                                                            else if (field is PropertyFieldUI propertyField)
                                                            {
                                                                <td>
                                                                    <UIEditor Field="field" Entity="@context.Entity" />
                                                                </td>
                                                            }
                                                        }
                                                    }
                                                    // fill in the gaps (when dealing with multiple entity variants)
                                                    if (!collapseEmptyCells && UI.UniqueFields?.Count > index)
                                                    {
                                                        <td colspan=@(UI.UniqueFields.Count - index)>&nbsp;</td>
                                                    }
                                                    if (UI.SectionsHaveButtons)
                                                    {
                                                        <td class="button-cell">
                                                            @if (section.Buttons != null && section.Buttons.Any())
                                                            {
                                                                @foreach (var button in section.Buttons)
                                                                {
                                                                    var model = button.ToViewModel();

                                                                    // TODO: deattach
                                                                    model.OnClick += NodeButtonOnClickAsync;

                                                                    <UIButton Button="button" Model="model" />
                                                                }
                                                            }
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                </CascadingEditContext>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else if (UI.ListType == ListType.BlockEditor)
        {
            @foreach (var context in UI.EditContexts)
            {
                <div class="content">
                    <div class="nested-content">
                        <CascadingEditContext EditContext=@context>
                            @if (UI.SectionsForEntity.TryGetValue(context.Entity.Id, out var sections))
                            {
                                foreach (var section in sections)
                                {
                                    if (section.Buttons != null)
                                    {
                                        <div class="top-row">
                                            @foreach (var button in section.Buttons)
                                            {
                                                var model = button.ToViewModel();

                                                // TODO: deattach
                                                model.OnClick += NodeButtonOnClickAsync;

                                                <UIButton Button="button" Model="model" />
                                            }
                                        </div>
                                    }

                                    if (!string.IsNullOrEmpty(section.CustomAlias))
                                    {
                                        @CustomSections.GetCustomSection(section.CustomAlias, section);
                                    }
                                    else
                                    {
                                        <BlockSection Section="section" />
                                    }
                                }
                            }
                        </CascadingEditContext>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div class="content">
            <p>No furter elements are available.</p>
        </div>
    }
}
@code {

    [Inject] private ICollectionService CollectionService { get; set; }

    // [Parameter] private string Action { get; set; }

    [Parameter] private IEntity RelatedEntity { get; set; }

    // [Parameter] private string CollectionAlias { get; set; }

    
    ListUI? UI;

    protected override async Task LoadDataAsync()
    {
        try
        {
            UI = await CollectionService.GetRelationListViewAsync(Action, CollectionAlias, RelatedEntity);

            StateHasChanged();
        }
        catch
        {
            UI = null;

            throw;
        }
    }

    async void ListButtonOnClickAsync(object sender, ButtonClickEventArgs args)
    {
        var model = sender as ButtonViewModel;

        try
        {
            if (model == null)
            {
                throw new ArgumentException($"Argument must be of type {typeof(ButtonViewModel)}.", nameof(sender));
            }

            var command = await CollectionService.ProcessRelationActionAsync(Action, CollectionAlias, RelatedEntity, model.ButtonId, args.Data);

            await HandleViewCommandAsync(command);
        }
        catch (Exception ex)
        {
            HandleException(ex);
        }
    }

    async void NodeButtonOnClickAsync(object sender, ButtonClickEventArgs args)
    {
        var model = sender as ButtonViewModel;

        try
        {
            if (model == null)
            {
                throw new ArgumentException($"Argument must be of type {typeof(ButtonViewModel)}.", nameof(sender));
            }

            if (UI == null)
            {
                throw new InvalidOperationException("UI is null");
            }

            var command = await CollectionService.ProcessRelationActionAsync(Action, CollectionAlias, RelatedEntity, args.EditContext.Entity.Id, args.EditContext, model.ButtonId, args.Data);

            await HandleViewCommandAsync(command);
        }
        catch (Exception ex)
        {
            HandleException(ex);
        }
    }
}
