@using TestClient.App.Models
@using RapidCMS.Common
@using RapidCMS.Common.Models.DTOs

@if (Collection == null)
{
    <li>Loading tree..</li>
}
else
{
    <li>
        <strong>
            <NavLink href=@Collection.Path class=@(Collection.Path == CurrentUrl ? "current-page" : "")>@Collection.Name</NavLink> 
            (<NavLink href=@Collection.Path.Replace("list", "edit")>list editor</NavLink>)
        </strong>

        <ul>
            @foreach (var node in Collection.Nodes)
            {
                <li>
                    <NavLink href=@node.Path class=@(node.Path == CurrentUrl ? "current-page" : "")>@node.Name</NavLink>

                    <ul>
                        @foreach (var subCollection in node.Collections)
                        {
                            <CollectionTreeView Collection="@subCollection" ParentId="@node.Id" CurrentUrl="@CurrentUrl" />
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
}
@functions {
    [Parameter]
    private CollectionTreeCollectionDTO Collection { get; set; }

    [Parameter]
    private int? ParentId { get; set; } = null;

    [Parameter]
    private string CurrentUrl { get; set; }
}
