@inherits BasePropertyEditor

<div class="form-control form-control-select-list @(CssHelper.GetDisplayModifier(DisplayType)) @(CssHelper.GetValidationClass(State))">
    @if (PropertyEditContext != null && Section?.Elements != null)
    {
        foreach (var field in Section.Elements.OfType<FieldUI>())
        {
            <div class="form-row">
                <div class="col-2">
                    <label class="col-form-label">@field.Name</label>
                    <small class="form-text text-muted">@field.Description</small>
                </div>
                <div class="col-10">
                    @field.ToRenderFragment(PropertyEditContext, ListType.Block)

                    @if (field.Details.HasValue)
                    {
                        <div class="details">
                            @field.Details.Value
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

@foreach (var message in GetValidationMessages())
{
    <div class="invalid-feedback">
        @message
    </div>
}
